<div class="wrapper">
  <h1 *ngIf="loading">Loading...</h1>
  <div class="card" *ngFor="let patient of entries">
    <h2>
      {{
        patient.resource.name[0].text
          ? patient.resource.name[0].text
          : patient.resource.name[0].family +
            " " +
            patient.resource.name[0].given
      }}
    </h2>
    <p>
      Gender:
      {{ patient.resource.gender ? patient.resource.gender : "no data" }}
    </p>
    <p>
      Birthdate:
      {{ patient.resource.birthDate ? patient.resource.birthDate : "no data" }}
    </p>
    <!-- <div *ngFor="let Appointment of appointments">
      <p>Appointments:</p>
      <p *ngIf="Appointment.resource.participant[1]">
          Appointment.find((appointment) => 'Patient/' + appointment.participant.actor[1].reference === patient.id)
      </p>
      </div> -->
  </div>
</div>
