<!-- <div class="card">
    <h2>
      {{
        patient.resource.name[0].text
          ? patient.resource.name[0].text
          : patient.resource.name[0].family +
            " " +
            patient.resource.name[0].given
      }}
    </h2>
    <p>
      Gender:
      {{ patient.resource.gender ? patient.resource.gender : "no data" }}
    </p>
    <p>
      Birthdate:
      {{ patient.resource.birthDate ? patient.resource.birthDate : "no data" }}
    </p>
    <p>
      Id:
      {{ patient.resource.id ? patient.resource.id : "no data" }}
    <p>Appointments:</p>
</div> -->